    .header-top__loader__circles--loader{
        width:50px;
        height: 50px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
    }

    .header-top__loader__circles{
        border-radius: 50px;
        border: 4px solid transparent;
        border-top-color: #9356dc;
        animation:spin 1s linear infinite;
    }
    
    .header-top__loader__circles:after{
        content:'';
        position: absolute;
        top: 5px;
        left: 5px;
        bottom: 5px;
        right: 5px;
        border-radius: 50px;
        border: 4px solid transparent;
        border-top-color: #ff79da;
        opacity: 0.8;
        animation:spin 5s linear infinite;
    }
    
    .header-top__loader__circles:before{
        content:'';
        position: absolute;
        top: 12px;
        left: 12px;
        bottom: 12px;
        right: 12px;
        border-radius: 50px;
        border: 4px solid transparent;
        border-top-color: #99E2D0;
        opacity: 0.5;
        animation:spinrevers 10s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg);}
        100%{transform: rotate(360deg);}
    }
    
    @keyframes spinrevers {
        0% { transform: rotate(0deg);}
        100%{transform: rotate(-360deg);}
    }
    
    
    .header-top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-top__logo{
        width: 50%;
        height:3rem ;
        padding-top: var(--spacing-base) ;
        padding-bottom: var(--spacing-base);
    }

    .header-top__map{
        display: flex;
        align-items: center;
        justify-content:center;
        width: 100%;
        height: 5rem;
        font-size: 1.2rem;
        background-color: #e6e4e4;
        padding-top: black 5px solid;
    }

    .header-top__map__icon {
        padding-right: var(--spacing-xs);
    }

    .header-top__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:#f6f5f5;
        width: 100%;
    }

    .header-top__title{
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
    }

    .header-top__text--text{
        margin-top: 0%;
        text-align: center;
        font-size: 1.5rem;
    }
