.main-restaurant__image{
    object-fit: cover;
    width: 100%;
    height: 20rem;
}

.main-restaurant__card{
    background-color: var(--background-color);
    width: 100%;
    height: 80rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    position:relative;
    top: -5rem;
   
    
}

.main-restaurant__card__title{
   padding-top: 2rem;
   padding-left:1rem;
   font-size: 2rem;
}

.main-restaurant-title__card__icon{
    position: relative;
    left: 22rem;
    bottom: 3.5rem;
    font-size: 2rem;
}

.main-restaurant__bands__subtitle{
    border-bottom: 3px solid#99E2D0 ;
    width: calc(100% / 8);
}

.main-restaurant__band{ 
    background-color: var(--white-color);
    margin: auto;
    width: 95%;
    height: 5rem;
    box-shadow:1px 1px 1px 1px #f2f2f2;
    border-radius: 1rem;
}

.main-restaurant__band__title{
    padding-top:var(--spacing-xs);
    font-size: 1.2rem;
    font-weight: 900;
    padding-left: var(--spacing-xs);
}

.main-restaurant__band__text{
    padding-left: var(--spacing-xs);  
}

.main-restaurant__band__price{
    position: relative;
    left: 21rem;
    bottom: 2rem;
    font-weight: 900;
}

.main-button{
    width: 50%;
    height: 3rem;
    color: var(--white-color);
    font-size: 1rem;
    background:linear-gradient(to bottom right, #ff79da, #9356dc);
    border-radius:2rem;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    margin-left: 6rem;
}
    
