.main-restaurant__band:nth-child(1) {
  animation: apparition 1s ease-in-out;
}
.main-restaurant__band:nth-child(2) {
  animation: apparition 1s ease-in-out;
}
.main-restaurant__band:nth-child(3) {
  animation: apparition 1s ease-in-out;
}
.main-restaurant__band:nth-child(4) {
  animation: apparition 1s ease-in-out;
}

.main-restaurant__band:nth-child(5) {
  animation: apparition 2s ease-in-out;
}
.main-restaurant__band:nth-child(6) {
  animation: apparition 2s ease-in-out;
}
.main-restaurant__band:nth-child(7) {
  animation: apparition 2s ease-in-out;
}
.main-restaurant__band:nth-child(8) {
  animation: apparition 2s ease-in-out;
}

.main-restaurant__band:nth-child(9) {
  animation: apparition 3s ease-in-out;
}
.main-restaurant__band:nth-child(10) {
  animation: apparition 3s ease-in-out;
}
.main-restaurant__band:nth-child(11) {
  animation: apparition 3s ease-in-out;
}
.main-restaurant__band:nth-child(12) {
  animation: apparition 3s ease-in-out;
}
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.main-restaurant__bands{
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
  height: 25rem; 
  width: 33%;
}

.main-restaurant__band {
  height: 5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 1px 1px 1px 1px #e9e8e8;
  display: flex;
}

.main-restaurant__bands__subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  height: 2rem;
  width: 48px;
  border-bottom: 3px solid #99e2d0;
}

.main-restaurant__band__info {
  overflow: hidden;
  width: 70%;
 

  
}

.main-restaurant__band__info__title {
  font-size: 1.2rem;
  font-weight: 900;
  height: 3rem;
  padding-top: 1rem;
  padding-left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
 width: 100%;
}
.main-restaurant__band__info__text {
  height: 3rem;
  padding-left: 1rem;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.main-restaurant__band__price {
  display: flex;
  align-items: center;
  justify-content:end;
  font-weight: 900;
  font-size: 1.2rem;
  white-space: nowrap;
  width: 85%;
}

.main-restaurant__band__check-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  opacity: 0;
  width: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: 1s;
}

.main-restaurant__band__check-container__check {
  color: white;
  font-size: 2rem;
}

.main-restaurant__band:hover .main-restaurant__band__check-container {
  width: 200px;
  opacity: 1;
}

.main-restaurant__band:hover .main-restaurant__band__check-container__check {
  animation: rotate 0.5s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-main {
  margin-top: 2rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .main-restaurant__bands__subtitle {
    width: 60px;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  .main-restaurant__bands {
    width: 80%;
    margin: auto;
    flex-direction: column;
  }

  .main-restaurant__band {
    width: 100%;
    height: 6rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .main-restaurant__band__info__title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1rem;
    width: 100%;
  }
  .main-restaurant__band__info__text {
    font-size: 1.2rem;
    width: 100%;
  }
  .main-restaurant__band__price {
    font-size: 1.2rem;
    font-weight: 600;

  }
}

@media screen and (max-width: 425px) {
  .main-restaurant__bands__subtitle {
    width: 50px;
    font-size: 1.5rem;
    text-align: start;
  }

  .main-restaurant__bands {
    width: 95%;
    margin: auto;
  }

  .main-restaurant__band {
    width: 100%;
    height: 5rem;
  }

  .main-restaurant__band__info__title {
    font-size: 1rem;
    font-weight: 900;
  }
  .main-restaurant__band__info__text {
    font-size: 1rem;
  }
}
*{outline: solid 1px red;}