.button {
  height: 3rem;
  color: white;
  font-size: 1rem;
  background-color: $primary-color;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  margin-bottom: $spacing-md;
  box-shadow: 2px 2px 2px 2px #dfdede;
}

.button:hover {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  box-shadow: 4px 4px 4px 4px #5e5d5d;
}

@media screen and (max-width:425px){
  .button {
    width: 50%;
  }
}


