*,
*::before,
*::after {
  box-sizing: border-box; }
.heart {
  display: flex;
  width: 10%;
  height: 6rem;
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: -5.5rem;
 }

svg {
  overflow: visible;
  width: 3rem;
 }

path {
  stroke-dashoffset: 0;
  stroke-dasharray: 0;
  transform-origin: 0; 
}

.heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none; 
}

.heart-main:hover path {
  animation: stroke-animation 1.5s ease-in-out; 
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
    stroke: transparent;
  ; }
  30% {
    stroke-dashoffset: 0;
    stroke: transparent;
    fill: url(#myGradient);
    }
  60% {
    stroke-dashoffset: 0;
    stroke: transparent;
    fill: url(#myGradient);
    height: 0;
    transform: scale(1); }
  80% {
    fill: url(#myGradient);
    stroke: transparent;
    transform: scale(1); }
  90% {
    fill: url(#myGradient);
    stroke: transparent;
    transform: scale(1); }
  100% {
    stroke-dashoffset: 0;
    stroke: transparent;
    fill: url(#myGradient); } 
  }

  