.heart-menu {
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  cursor: pointer;
  position:absolute;
}

@media screen and (max-width: 768px) {
  .heart-menu{
    position: absolute;
    top: 0.5rem;
  }
}
