*,
*::before,
*::after {
  box-sizing: border-box;
}



.heart{
  width: 8%;
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
}
  svg {
    overflow: visible;
    width: 3rem;
  }

  path {
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
    transform-origin: 0;
  }

  .heart-background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
  }

  .heart-main:hover path {
    animation: stroke-animation 2s ease-in-out;
  }


@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
    stroke: transparent;
    fill:url(#myGradient)
  }
  30% {
    stroke-dashoffset:0;
    stroke: transparent;
    fill:url(#myGradient);
  }
  60% {
    stroke-dashoffset: 0;
    stroke: transparent;
    fill:url(#myGradient);
    transform: scale(1);
  }
  80% {
    fill:url(#myGradient);
    stroke: transparent;
    transform: scale(1);
  }
  90% {
    fill:url(#myGradient);
    stroke: transparent;
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 0;
    stroke: transparent;
    fill:url(#myGradient);
  }
}

@media screen and (max-width:768px){
.heart{
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  cursor: pointer;
  position: relative;
  left: 17rem;
  bottom: 3rem;
}
}

@media screen and (max-width:425px){
  .heart{
    fill: transparent;
    stroke: black;
    stroke-width: 20;
    cursor: pointer;
    position: relative;
    right: 2rem;
    bottom: 3.5rem;
  }
}
