.loader__circles--loader {
  position: absolute;
  top: 30rem;
  left: 55rem;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 10s ease-in-out;
}
.loader__circles {
  border-radius: 50px;
  border: 4px solid transparent;
  border-top-color: #9356dc;
  animation: spin 1s linear infinite;
}

.loader__circles:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: 4px solid transparent;
  border-top-color: #ff79da;
  opacity: 0.8;
  animation: spin 5s linear infinite;
}

.loader__circles:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  border-radius: 50px;
  border: 4px solid transparent;
  border-top-color: #99e2d0;
  opacity: 0.5;
  animation: spinrever 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinrevers {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.header-loade {
  animation: fondue 10s;
}
.main-loade {
  animation: fondue 10s;
}
.footer-loade {
  animation: fondue 10s;
}
@keyframes fondue {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
