@media screen and (max-width:768px) {
    
.main-menu__button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
}

.main-menu__button__number{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 5rem;
    width: 8%;
    height: 2rem;
}

:root{
    --box-shadow: 1px 2px 2px 2px #dddada;
}

.main-menu__button__button{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow:var(--box-shadow);
    width: 80%;
    height: 4rem;
    border:none
}

.main-menu__button__button--background{
    background-color: #efe4fd;
}

.main-menu__button__icon{
    color: grey;
    padding-right: var(--spacing-base);
}

.main-menu__button__icon.fas.fa-store{
    color: #9356dc;
}

.main-menu-button{
    border: none;
    background-color:var(--white-color);
    font-size: 1.2rem;
    font-weight: 200;
}

.main-menu-button--background{
    background-color:  #efe4fd;
}

.main-restaurants__button__link__image{
    width: 20%;
    height: 8rem;
}
}