@media screen and (max-width:425px) {

.main-menu{
    width: 100%;
    height: 35rem;
}

.main-menu__title{
    font-size: 2rem;
    margin-left:var(--spacing-base);
}

.main-menu__button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
}

.main-menu__button__number{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 5rem;
    width: 8%;
    height: 2rem;
    position:relative;
    top:4.5rem;
    left: 1rem;
}

:root{
    --box-shadow: 1px 2px 2px 2px #dddada;
}

.main-menu__button__button{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow:var(--box-shadow);
    width: 85%;
    height: 5rem;
    border:none;
 
}

.main-menu__button__button--background{
    background-color: #efe4fd;
}

.main-menu__button__icon{
    color: grey;
    padding-right: var(--spacing-base);
}

.main-menu__button__icon.fas.fa-store{
    color: #9356dc;
}

.main-menu-button{
    border: none;
    background-color:var(--white-color);
    font-size: 1.2rem;
    font-weight: 200;
}

.main-menu-button--background{
    background-color:  #efe4fd;
}




.main-restaurants{
    background-color: var(--background-color);
    width: 100%;
    height: 100rem;
}

.main-restaurants__title{
    font-size: 2rem;
    margin-left:1.5rem;
    padding-top: var(--spacing-base);
}

.main-restaurants__card{
    background-color: var(--white-color);
    border-radius: 2rem;
    width: 90%;
    height: 20rem;
    margin:auto;
    margin-bottom: var(--spacing-md);
}

.main-restaurants__card__link{
    text-decoration: none;
    color:var(--black-color) ; 
}

.main-restaurants__card__link__title{
    font-size: 1.5rem;
    margin-left:var(--spacing-xs);
}

.main-restaurants__card__link__subtitle{
    font-size: 1rem;
    margin-left:var(--spacing-xs);
}

.main-restaurants__card__link__icon.far.fa-heart{
    position: relative;
    left: 18rem;
    bottom: 5rem;
    font-size: 3rem;
}

.main-restaurants__card__link__image{
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
    height: 12rem;
}

.main-restaurants__card__link__text{
    background-color: var(--tertiaire-color);
    color:#21b691 ;
    width: 20%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    position:relative; 
    top: -22rem;
    left: 18rem;
}
}
