.footer-list {
  background-color: #313131;
  color: white;
  text-align: start;
  width: 100%;
  height: 15rem;
}

.footer-list__links {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-list__logo {
 padding: 2rem;
}

.footer-list .footer-list__links {
  line-height: 2rem;
}

.footer-list .footer-list__links__link {
  font-size: 1rem;
  font-weight: 900;
  text-decoration: none;
  color: var(--white-color);
  padding-left: 3px;
}

.footer-list .footer-list__links__icon {
  color: var(--background-color);
}

@media screen and (max-width: 768px) {
  .footer-list__links {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer-list__links__link {
    padding-left: 1.5rem;

    text-decoration: none;
  }
}

@media screen and (max-width: 425px) {
  .footer-list {
    background-color: #313131;
    color: white;
    text-align: start;
    width: 100%;
  }

  .footer-list__links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 1rem;
  }
}
