@import "../components/buttons.scss";

.main-restaurant__image{
    object-fit: cover;
    width: 100%;
    height: 20rem;
}

.main-restaurant__card{
    background-color: var(--background-color);
    width: 100%;
    height: 80rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    position:relative;
    top: -5rem;  
}

.main-restaurant__card__title{
   padding-top: 2rem;
   padding-left:1rem;
   font-size: 2rem;
}

.main-restaurant-title__card__icon{
    position: relative;
    left: 22rem;
    bottom: 3.5rem;
    font-size: 2rem;
}

.main-restaurant__bands:nth-child(1){
    width: 95%;
    height: 5rem;
    margin: auto;
    background-color: white;
}

.main-restaurant__bands__subtitle{
    border-bottom: 3px solid#99E2D0 ;
    width: calc(100% / 8);
}

.main-restaurant__band{ 
  
   /* background-color: var(--white-color);
    margin: auto;
    width: 95%;
    height: 5rem;
    box-shadow:1px 1px 1px 1px #f2f2f2;
    border-radius: 1rem;
    animation: apparition 1s ease-out;*/
  
}

@keyframes apparition {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
  
.main-restaurant__band--2{ 
    background-color: var(--white-color);
    margin: auto;
    width: 95%;
    height: 5rem;
    box-shadow:1px 1px 1px 1px #f2f2f2;
    border-radius: 1rem;
    animation: apparition 2s ease-out;
}

@keyframes apparition {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.main-restaurant__band--3{ 
    background-color: var(--white-color);
    margin: auto;
    width: 95%;
    height: 5rem;
    box-shadow:1px 1px 1px 1px #f2f2f2;
    border-radius: 1rem;
    animation: apparition 3s ease-out;
}

@keyframes apparition {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}


.main-restaurant__band__title{
    padding-top:var(--spacing-xs);
    font-size: 1.2rem;
    font-weight: 900;
    padding-left: var(--spacing-xs);
}

.main-restaurant__band__text{
    padding-left: var(--spacing-xs);  
}

.main-restaurant__band__price{
    position: relative;
    left: 21rem;
    bottom: 3rem;
    font-weight: 900;
}

